body {
  margin-left: 1rem;
  margin-right: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

.search-button {
  margin: 1rem 0.2rem 0 0.2rem;
}

#submit-button {
  margin-top: 0.6rem;
}

#show-info {
  padding: 0;
  margin-top: 1rem;
}

.gif-figure {
  position: relative;
  display: inline-block;
}

.gif {
  margin: 0 1rem;
  display: inline-block;
}

figcaption {
  margin-left: 1rem;
  font-weight: bold;
}

.download {
  color: rgba(0, 174, 255, 0.4);
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 20px;
}
  .download:hover {
    color: rgba(0, 174, 255, 0.8);
  }
  .download:active {
    color: rgba(0, 174, 255, 1);
  }
